whisperapp/Models/ggml-tiny-encoder.mlmodelc filter=lfs diff=lfs merge=lfs -text
whisperapp/Models/ggml-tiny-q8_0.bin filter=lfs diff=lfs merge=lfs -text
whisperapp/Models/tiny filter=lfs diff=lfs merge=lfs -text
